h1 {
    /* color: rgb(205, 25, 55); */
    text-transform: capitalize;
}

h2 {
    color: rgb(80, 138, 35)                                    ;
}

p {
    color: rgb(106, 183, 57);
}

ul {
    color: rgb(130, 215, 84);
}

.my-colors {
    color: rgb(8, 92, 11);
}

#venue {
    color: purple;
}

[data-email="email"] {
    color: blueviolet;
}

ul > li {
    color: greenyellow;
}

body{
    border: 1px solid black;

    text-align: center;
}

p {
    line-height: 1.5;
}

span {
    line-height: 1.5;
    color: green;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
  }