/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
    background-color: #000000;
    display: flex; 
    text-align: center;
    margin: auto;
    max-width: 1000px;
    justify-content: center;
    align-items: flex-start;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #e5e5cb;
    font-size: 1.1rem;
  }
  
  .outer {
    border: 1px dashed #e5e5cb;
    width: 500px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }

  .inner {
    background-color: #d5cea3;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

  p {
    line-height: 120px;
    padding: 10px;
  }